@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
}

.btn {
  background-color: #2563eb;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #3b82f6;
}